@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 1px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d9a616;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
}

/* FADES */
.fade-in {
  animation: fadeIn 0.25s ease forwards;
}

.fade-out {
  animation: fadeOut 0.25s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.98);
  }
}
